body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.bx {
    border: 1px solid gold;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

/* Navbar Part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-link {
    display: flex;
    margin-left: auto;   
}

.header-link a:link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero Part */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid gold;
    text-align: left;
}

.hero-image img {
    width: 500px;
    height: 180px;
    border: 1px solid gold;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: "Google Sans", arial;
    text-decoration: none;
    font-weight: bold;
}

/* Content Part */

.content {
    align-items: center;
}

.content-info {
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation Part */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    border: 1px solid gold;
    padding: 0 50px;
}

.quote p {
    font-size: 36px;
    font-color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}